//palette
$secondary_color: #7f888f !default;
$primary_color: #f56a6a !default;
$error_color: #d22f25 !default;
$warning_color: #ff952f !default;
$success_color: #3eba2b !default;

//main colors
$body_bg: #fafbfd !default;
$font_color: #676d79 !default;

//colors
$white_gray: #f5f6f7 !default;
$gray: #3d4449 !default;
$light_gray: rgba(210, 215, 217, 0.75) !default;
$primary_color_hover: #B85B5B !default;
$black: #000 !default;
$white: #fff !default;

//settings
$body_font_size: 17px !default;
$column_count: 12 !default;
$site-width: 100% !default;
$column_space: 10 !default;
$font_family: Arial, sans-serif !default;
$small_window: 640px !default;
$medium_window: 1000px !default;
$large_window: 1200px !default;
